:root {
	/* Set font families */
	--font-family-primary: 'Montserrat', sans-serif;
	/* End set font families */

	/* Set transition time */
	--transition-time: 0.2s;
	/* End set transition time */

	/* Set border radius */
	--border-radius: 1.3rem;
	/* End set border radius */

	/* Set button sizes for different priority levels */
	--tap-target-min-size: 4.8rem;
	/* End set button sizes for different priority levels */

	/* Set icon sizes for different priority levels */
	--icon-size-1: 2rem;
	--icon-size-2: 2.4rem;
	--icon-size-3: 4rem;
	--icon-size: 4.8rem;
	/* End set icon sizes for different priority levels */

	/* Set spacing variables */
	--spacing-1: 0.4rem;
	--spacing-2: 0.8rem;
	--spacing-3: 1.2rem;
	--spacing-4: 1.6rem;
	--spacing-5: 2rem;
	--spacing-6: 2.4rem;
	--spacing-8: 3.2rem;
	--spacing-10: 4rem;
	--spacing-12: 4.8rem;
	--spacing-16: 6.4rem;
	--spacing-20: 8rem;
	--spacing-24: 9.6rem;
	--spacing-32: 12.8rem;
	/* End set spacing variables */
	--grid-gap-1: 1.6rem;
	--grid-gap-2: 3.2rem;
	--grid-gap-3: 4.8rem;

	/* Set pading for ui elements */
	--element-padding-symmetrical: var(--spacing-6);
	--element-padding-asymmetrical: var(--spacing-4) var(--spacing-6);
	/* End set pading for ui elements */

	/* Set container sizes */
	--container-large: 144rem;
	--container-extra-large: 256rem;
	/* End set container sizes */

	/* Set light color scheme styles */

	/* Set foreground color values for light color scheme */
	--color-foreground-primary-light: #1a1a1a;
	--color-foreground-secondary-light: #333333;
	--color-foreground-highlight-light: #0066cc;
	--color-state-info-foreground-light: #174ea6;
	--color-state-good-foreground-light: #0d652d;
	--color-state-warn-foregound-light: #c34900;
	--color-state-bad-foreground-light: #a50e0e;
	/* End set foreground color values for light color scheme */

	/* Set background color values for light color scheme */
	--color-background-primary-light: #f2f2f2;
	--color-background-secondary-light: rgb(142, 142, 147);
	--color-state-hover-background-highlight-light: #d9d9d9;
	--color-state-info-background-light: #deeafd;
	--color-state-good-background-light: #e9f6ed;
	--color-state-warn-background-light: #fff5e3;
	--color-state-bad-background-light: #fce8e8;
	/* End set background color values for light color scheme */

	/* Set accent color value for light color scheme */
	--color-accent-light: #a35b9f;
	/* End set accent color value for light color scheme */

	/* End set light color scheme styles for light color scheme */

	/* Set dark color scheme styles */

	/* Set foreground color values for dark color scheme */
	--color-foreground-primary-dark: rgb(255, 255, 255);
	--color-foreground-secondary-dark: rgba(235, 235, 245, 0.6);
	--color-foreground-highlight-dark: rgb(64, 156, 255);
	/* End set foreground color values for dark color scheme */

	/* Set background color values for dark color scheme */
	--color-background-primary-dark: rgb(0, 0, 0);
	--color-background-secondary-dark: rgb(28, 28, 30);
	--color-background-tertiary-dark: rgb(44, 44, 46);
	--color-background-quaternary-dark: rgb(58, 58, 60);
	--color-background-header-transparent: rgba(28, 28, 30, 0.7);
	/* End set background color values for dark color scheme */

	/* Set seperator color values for dark color scheme */
	--color-separator-primary-dark: rgb(56, 56, 58);
	--color-separator-secondary-dark: rgb(84, 84, 88);
	/* Set seperator color values for dark color scheme */

	/* Set accent color value for dark color scheme */
	--color-accent-dark: rgb(218, 143, 255);
	/* End set accent color value for dark color scheme */

	/* Set state color values for dark color scheme */
	--color-state-lighting-dark: rgb(255, 218, 38);
	--color-state-info-dark: rgb(125, 122, 255);
	--color-state-good-dark: rgb(46, 219, 91);
	--color-state-warn-dark: rgb(255, 179, 64);
	--color-state-bad-dark: rgb(255, 105, 97);
	/*End set state color values for dark color scheme */

	/* End set dark color scheme styles */
}
